@charset "utf-8";

body,html{
	height: 100%;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	-webkit-text-size-adjust:none;
	font-family: "微软雅黑";
}
html.oh,body.oh{
	overflow: hidden;
}
a:hover,a:focus{
	text-decoration: none;
}
li{
	list-style: none;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: "";
     clear: both;
     height: 0;
}
/* 导航条 */
#header_nav{
	padding: 30px 0px;
	transition: all 0.8s;
}
#header_nav.navbar-default{
	background-color:rgba(248, 248, 248, 0);
	border-color: transparent;
	color: #FFF;
}
#header_nav.navbar-default .navbar-brand{
	width: 170px;
	height: 66px;
	padding: 14px 0px 0px;
	margin-left: 0;
}
#header_nav.navbar-default .navbar-brand img{
	height: 100%;
}
#ScrollListener ul li{
	margin-left: 20px;
}
#ScrollListener ul li a{
	color: #FFF;
	font-size: 18px;
}
.navbar-default .navbar-nav > .active{
	border-bottom: 2px solid #FFF;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	background-color: transparent;
	font-weight: 700;
}
#header_nav.navbar-default .navbar-toggle{
	border-radius: 0px;
}
#header_nav.navbar-default .navbar-toggle:hover{
	background-color: transparent;
	border-color: #FFF;
}
#header_nav.navbar-default .navbar-toggle:hover .icon-bar{
	background-color: #FFF;
}
#header_nav.navbar-default.on{
	background: #222;
	padding: 0px 0px 10px;
}
#header_nav.navbar-default.on .navbar-brand{
	width: 150px;
	height: 50px;
}
#header_nav.navbar-default.on #ScrollListener ul li a{
	font-size: 14px;
	padding-bottom: 13px;
}

#Home{
	height: 100%;
	background: url(../images/banner.jpg) no-repeat center;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.overlay{
	background: rgba(0,0,0,.6);
	height: 100%;
	background-attachment: fixed;
}
.home_content{
	padding: 20% 20px 0px;
	color: #FFF;
	letter-spacing: 5px;
}
.home_content h1{
	font-size: 70px;
}
.home_content p{
	font-size: 20px;
	margin-top: 50px;
}

#Homes{
	height: 100%;
	background: rgba(0,0,0,.6);
	position: relative;
}
#Homes .swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
#Homes .swiper-container .swiper-slide,#Homes .swiper-container .swiper-slide .item{
	width: 100%;
	height: 100%;
}
#Homes .swiper-container .swiper-slide .item1{
	background: url(../images/banner1.jpg) no-repeat center;
	background-size: cover;
	background-position: center;
	/*background-attachment: fixed;*/
}
#Homes .swiper-container .swiper-slide .item2{
	background: url(../images/banner2.png) no-repeat center;
	background-size: cover;
	background-position: center;
	/*background-attachment: fixed;*/
}
#Homes .swiper-container .swiper-slide .item3{
	background: url(../images/banner3.png) no-repeat center;
	background-size: cover;
	background-position: center;
	/*background-attachment: fixed;*/
}
#Homes .swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#Homes .swiper-container .swiper-pagination-bullet{
	background: #fff;
	opacity: .6;
	margin: 0 10px;
}
#Homes .swiper-container .swiper-pagination-bullet-active{
	background: #007aff;
	opacity: 1;
}

#Range{
	padding-top: 100px;
	overflow: hidden;
}
.section_title{
	width: 100%;
	background: url(../images/title_line.png) no-repeat;
	background-position: center;
}
.section_title h2{
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 5px;
}
.section_title p{
	font-size: 18px;
	font-weight: bold;
}
.range_content{
	width: 100%;
	margin-top: 60px;
}
.range_content > div {
	/*padding-left: 0px;
	padding-right: 0px;*/
}
.range_content .item{
	/*max-width: 290px;
	height: 300px;*/
	width: 100%;
	height: auto;
	margin: 0px auto 10px;
	cursor: pointer;
}
.range_content .item1{
	background: url(../images/range1.png) no-repeat;
	background-size: cover;
}
.range_content .item2{
	background: url(../images/range2.png) no-repeat;
	background-size: cover;
}
.range_content .item3{
	background: url(../images/range3.png) no-repeat;
	background-size: cover;
}
.range_content .item4{
	background: url(../images/range4.png) no-repeat;
	background-size: cover;
}
.range_content .item5{
	background: url(../images/range5.png) no-repeat;
	background-size: cover;
}
.range_content .item6{
	background: url(../images/range6.png) no-repeat;
	background-size: cover;
}
.range_content .item7{
	background: url(../images/range7.png) no-repeat;
	background-size: cover;
}
.range_content .item8{
	background: url(../images/range8.png) no-repeat;
	background-size: cover;
}
.range_content .item .overlay{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.6);
	padding: 20px 0px;
	overflow: hidden;
	position: relative;
	z-index: 101;
}
.range_content .item .overlay .con{
	/*width: 252px;
	height: 234px;*/
	width: 100%;
	height: 234px;
	/*background: url(../images/range_bg1.png) no-repeat center;*/
	margin: 0px auto;
	color: #fff;
	position: relative;
}
.range_content .item:hover .overlay .con {
	/*background: url(../images/range_bg2.png) no-repeat center;*/
}
.range_content .item .overlay .con span{
	font-size: 18px;
	margin-top: 28px;
	display: inline-block;
	letter-spacing: 10px;
}
.range_content .item .overlay .con .bottomLine{
	width: 105px;
	height: 1px;
	background: #FFF;
	margin: 10px auto 0;
}
.range_content .item .overlay .con ul{
	padding-left: 0px;
	margin-top: 20%;
	transform: translateY(-50%);
}
.range_content .item .overlay .con ul li{
	line-height: 30px;
	font-size: 16px;
}
.range_content .item .overlay .con p.infoBtn{
	width: 60%;
	height: 35px;
	border: 1px solid #fff;
	line-height: 35px;
	position: absolute;
	bottom: 5px;
	left: 50%;
	margin-left: -30%;
}
.range_content .item .overlay .con p.infoBtn i{
	position: absolute;
	right: 15px;
	font-style: normal;
	font-size: 20px;
}
.range_content .item6 .overlay .con span,
.range_content .item7 .overlay .con span,
.range_content .item8 .overlay .con span{
	margin-top: 30%;
}

#Introduce{
	padding-top: 100px;
	padding-bottom: 5px;
	overflow: hidden;
}
.introduction_content{
	margin-top: 60px;
}
.introduction_content > div{
	margin-top: 20px;
}
.introduction_content .item{
	/*width: 290px;*/
	width: 100%;
	/*height: 469px;*/
	margin: 0px auto;
	box-shadow: 0 0 5px rgba(0,0,0,.23);
}
.introduction_content .item .pic{
	width: 100%;
	/*height: 296px;*/
}
.introduction_content .item .pic img{
	max-width: 100%;
	max-height: 100%;
}
.introduction_content .item .info{
	width: 100%;
	height: 192px;
	overflow: hidden;
	position: relative;
}
.introduction_content .item .info p{
	font-size: 20px;
	color: #000;
	margin-top: 14px;
}
.introduction_content .item .info .bottomLine{
	width: 100%;
	height: 7px;
	background: url(../images/introduction_line1.png) no-repeat center;
}
.introduction_content .item .info .txt{
	padding: 15px 25px;
	color: #383838;
	line-height: 26px;
	text-align: left;
}
.introduction_content .item .info .shadow{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	background: rgb(72, 72, 72);
	display: none;
}
.introduction_content .item .info .shadow p{
	color: #fff;
}
.introduction_content .item .info .shadow .bottomLine{
	background: url(../images/introduction_line2.png) no-repeat center;
}
.introduction_content .item .info .shadow .txt{
	color: #fff;
}
.introduction_content .item:hover .info .shadow{
	display: block;
}


#About{
	padding-top: 100px;
}
.about_content{
	margin-top: 60px;
}
.about_content p{
	line-height: 28px;
	color: #696969;
}
.about_content p.marginTop{
	margin-top: 30px;
}
.about_line{
	width: 100%;
	height: 36px;
	background: url(../images/about_line.png) no-repeat center;
	margin-top: 15px;
}
.contact{
	border-bottom: 1px solid #B5B5B5;
	padding: 60px 0px 100px;
	text-align: left;
}
.contact ul{
	padding: 0;
}
.contact ul li{
	float: left;
	text-align: center;
}
.contact ul li:nth-child(1){
	width: 20%;
}
.contact ul li:nth-child(2){
	width: 40%;
}
.contact ul li:nth-child(3){
	width: 40%;
}
.contact ul li i{
	width: 30px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
}
.contact ul li:nth-child(1) i{
	background: url(../images/contact_qq.png) no-repeat center;
}
.contact ul li:nth-child(2) i{
	background: url(../images/contact_tel.png) no-repeat center;
}
.contact ul li:nth-child(3) i{
	background: url(../images/contact_addr.png) no-repeat center;
}
.contact ul li span{
	color: #4c4c4c;
	vertical-align: middle;
	margin-left: 20px;
}


#Footer{
	width: 100%;
	padding: 30px 0px;
	background: #222;
	margin-top: 100px;
}
#Footer p{
	text-align: center;
	color: #fff;
	padding: 0px 20px;
}

#Shadow{
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .7);
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 10001;
	overflow: auto;
	display: none;
}
.form{
	width: 70%;
	box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.23);
	background: #fff;
	padding: 30px 50px;
	position: absolute;
	left: 15%;
	top: 50%;
	transform: translateY(-50%);
}
.form .title{
    width: 100%;
    height: 28px;
    background: url("../images/title_line.png") no-repeat top center;
}
.form .title .text{
    width: 255px;
    margin: 0px auto;
    text-align: center;
    transform: translateY(-22%);
}
.form .title .text h2{
    font-size: 24px;
    letter-spacing: 5px;
}
.form .title .text p{
    font-size: 20px;
    color: #010101;
    margin-top: 14px;
}
.form .item{
	margin-top: 60px;
	display: flex;
	justify-content: center;
}
.form .item ul{
	padding-left: 0px;
	display: inline-block;
}
.form .item ul li{
	display: flex;
	margin-bottom: 10px;
}
.form .item ul li span{
	width: 120px;
	font-size: 16px;
	line-height: 40px;
	display: inline-block;
	text-align: left;
}
.form .item ul li input{
	width: 300px;
	height: 40px;
	border: 1px solid #787878;
	margin-top: -1px;
	padding: 0 10px;
	font-size: 14px;
	outline: none;
}
.form .item ul li textarea{
	width: 300px;
	height: 100px;
	border: 1px solid #787878;
	margin-top: -1px;
	padding: 5px 10px;
	font-size: 14px;
	outline: none;
}
.form .btn{
	width: 100%;
	text-align: center;
	margin-top: 15px;
}
.form .btn a{
	width: 240px;
	height: 38px;
	border-radius: 10px;
	background: #484848;
	display: inline-block;
	line-height: 38px;
	color: #fff;
	font-size: 16px;
	letter-spacing: 10px;
}
.dropdownMenu{
	position: relative;
}
.needType{
	cursor: pointer;
}
#menu{
	width: 300px;
	border: 1px solid #c5c5c5;
	position: absolute;
	right: 0px;
	top: 100%;
	background: #FFF;
	display: none;
}
#menu ul{
	width: 100%;
	text-align: center;
}
#menu ul li{
	width: 100%;
	line-height: 40px;
	padding: 0px 10px;
	margin-bottom: 0px;
	color: #333;
}
#menu ul li:hover{
	background: #F6F6F6;
	cursor: pointer;
	color: #000;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.23);
}
